# comprehension in python
**single line code for generation an iterable fron an existing iterable**
- list comprehension
- set comprehension
- dictionary comprehension

syntax 1:
```
new_it = [operation for item in existing_it]
```
Syntax 2:
```python
new_it = [operation for item in existing_it if condition]
```

In [30]:
a= [1,2,3,4]
a2= []
for i in a:
    s=i**2
    a2.append(s)
print(a)
print(a2)

[1, 2, 3, 4]
[1, 4, 9, 16]

In [31]:
a= [1,2,3,4]
a2= []
for i in a:
    s=i**3
    a2.append(s)
print(a)
print(a2)

[1, 2, 3, 4]
[1, 8, 27, 64]

In [32]:
a= [1,2,3,4]
a2= []
for i in a:
    s=i-2
    a2.append(s)
print(a)
print(a2)

[1, 2, 3, 4]
[-1, 0, 1, 2]

In [33]:
a2 = [i**2 for i in a]
a2

[1, 4, 9, 16]

In [34]:
names = ['alex','susan','tom','jerry']
shorts = []
for name in names:
    shorts.append(name[:2])
print(names)
print(shorts)

['alex', 'susan', 'tom', 'jerry']
['al', 'su', 'to', 'je']

In [36]:
something= [name[:2] for name in names]
print(something)

['al', 'su', 'to', 'je']

In [ ]:
numbers = [12,4,1,4,5,2,5,6]

In [41]:
numbers = [12,4,1,4,5,2,5,6]
evens = [n-10 for n in numbers if n%2 ==0]
print(numbers)
print(evens)

[12, 4, 1, 4, 5, 2, 5, 6]
[2, -6, -6, -8, -4]

In [42]:
guests = ['raman','sita','gita','hari','rahul','sohan']
guests_i = [name for name in guests if 'i' in name.lower()]
print(guests)
print(guests_i)

['raman', 'sita', 'gita', 'hari', 'rahul', 'sohan']
['sita', 'gita', 'hari']

In [44]:
x={1,2,3,4,5,6,1,1,1}
x2={i**2 for i in x}
print(x)
print(x2)

{1, 2, 3, 4, 5, 6}
{1, 4, 36, 9, 16, 25}

# Set comprehension

In [45]:
x={1,2,3,4,5,6,1,1,1}
x2={i-5 for i in x}
print(x)
print(x2)

{1, 2, 3, 4, 5, 6}
{0, 1, -1, -4, -3, -2}

In [48]:
# dictionary comprehension
x={'a':'apple','b':'banana', 'c':'cherry'}
x2={k:v.upper()for k,v in x.items()}
print(x2)

{'a': 'APPLE', 'b': 'BANANA', 'c': 'CHERRY'}

In [50]:
# list to dict
x = [13,2,1,2,5,6,5,2,2]


xd= {i:v for i,v in enumerate(x)}
print(x)
print(xd)

[13, 2, 1, 2, 5, 6, 5, 2, 2]
{0: 13, 1: 2, 2: 1, 3: 2, 4: 5, 5: 6, 6: 5, 7: 2, 8: 2}

In [54]:
# list to dict
x = [13,2,1,2,5,6,5,2,2]
y = ['a','b','c','d','e']

xd= {i1:i2 for i1,i2 in zip(y,x)}
print(x)
print(xd)

[13, 2, 1, 2, 5, 6, 5, 2, 2]
{'a': 13, 'b': 2, 'c': 1, 'd': 2, 'e': 5}

In [56]:
x= (1,2,3)
x2= (i**2 for i in x)
list(x2)

[1, 4, 9]

In [57]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]