# Dictionaries
- create
- access
- change 
- methods

In [22]:
# data=[ 33,100,'sunny', 6,'Lucknow']
data= {
    'temp': 3,
    'humidity': 100,
     'weather':'sunnyüòÅ',
     'wind':6,
     'location':'lucknow'
     }
print(data)

{'temp': 3, 'humidity': 100, 'weather': 'sunnyüòÅ', 'wind': 6, 'location': 'lucknow'}

In [23]:
students= {
    'names':['mahek','natasha',
             'aditya','yusuf'],
    'academic_1v1': ['btech','bca',
                     'bba','bcom']
}
students

{'names': ['mahek', 'natasha', 'aditya', 'yusuf'],
 'academic_1v1': ['btech', 'bca', 'bba', 'bcom']}

In [24]:
# nested dictionary
prducts = {
    'fruits': [
        {'name': 'apple','qty' :10},
        {'name': 'banana','qty':50},
        {'name': 'cherry','qty':25},
    ],
    'vegetables': [
        {'name': 'potato','qty': 100},
        {'name': 'tomato','qty': 50},
        {'name': 'onion', 'qty': 50},
    ]
}
prducts

{'fruits': [{'name': 'apple', 'qty': 10},
  {'name': 'banana', 'qty': 50},
  {'name': 'cherry', 'qty': 25}],
 'vegetables': [{'name': 'potato', 'qty': 100},
  {'name': 'tomato', 'qty': 50},
  {'name': 'onion', 'qty': 50}]}

In [25]:
data['weather']

'sunnyüòÅ'

In [26]:
data['location']

'lucknow'

In [28]:
prducts['vegetables']

[{'name': 'potato', 'qty': 100},
 {'name': 'tomato', 'qty': 50},
 {'name': 'onion', 'qty': 50}]

In [29]:
students['names']

['mahek', 'natasha', 'aditya', 'yusuf']

In [30]:
students['names'][2]

'aditya'

In [31]:
students['names'][:2]

['mahek', 'natasha']

In [32]:
prducts['vegetables'][1]['name']

'tomato'

In [34]:
data['temp'] = 20
data['weather'] = 'thunderstrom'
data

{'temp': 20,
 'humidity': 100,
 'weather': 'thunderstrom',
 'wind': 6,
 'location': 'lucknow'}

In [35]:
# dict[new key]= new value(adds new key- value pair)
data [ 'website']= 'accuweather.com'
data

{'temp': 20,
 'humidity': 100,
 'weather': 'thunderstrom',
 'wind': 6,
 'location': 'lucknow',
 'website': 'accuweather.com'}

In [36]:
students['names'].append('rohan')
students['academic_1v1'].append('12th')
students

{'names': ['mahek', 'natasha', 'aditya', 'yusuf', 'rohan'],
 'academic_1v1': ['btech', 'bca', 'bba', 'bcom', '12th']}

In [37]:
students['names'] = 'something'
students

{'names': 'something', 'academic_1v1': ['btech', 'bca', 'bba', 'bcom', '12th']}

In [39]:
orange = {'name': 'orange','qty' :10}
prducts['fruits'].append(orange)
prducts

{'fruits': [{'name': 'apple', 'qty': 10},
  {'name': 'banana', 'qty': 50},
  {'name': 'cherry', 'qty': 25},
  {'name': 'orange', 'qty': 10},
  {'name': 'orange', 'qty': 10}],
 'vegetables': [{'name': 'potato', 'qty': 100},
  {'name': 'tomato', 'qty': 50},
  {'name': 'onion', 'qty': 50}]}

In [40]:
prducts['cereals']= "no cereal availables"
prducts

{'fruits': [{'name': 'apple', 'qty': 10},
  {'name': 'banana', 'qty': 50},
  {'name': 'cherry', 'qty': 25},
  {'name': 'orange', 'qty': 10},
  {'name': 'orange', 'qty': 10}],
 'vegetables': [{'name': 'potato', 'qty': 100},
  {'name': 'tomato', 'qty': 50},
  {'name': 'onion', 'qty': 50}],
 'cereals': 'no cereal availables'}

- methods
     - keys()
    - values()
    - items()
     - get()
     - update()
     - pop()

In [41]:
list(data.keys())

['temp', 'humidity', 'weather', 'wind', 'location', 'website']

In [42]:
list(data.values())

[20, 100, 'thunderstrom', 6, 'lucknow', 'accuweather.com']

In [43]:
list(data.items())

[('temp', 20),
 ('humidity', 100),
 ('weather', 'thunderstrom'),
 ('wind', 6),
 ('location', 'lucknow'),
 ('website', 'accuweather.com')]

In [44]:
# simple for loop gives only keys from a dictionary
for i in data:
    print(i)

temp
humidity
weather
wind
location
website

In [47]:
# to extract key value pair from a dictionary, use .items()
for i in data.items():
    print(i)

('temp', 20)
('humidity', 100)
('weather', 'thunderstrom')
('wind', 6)
('location', 'lucknow')
('website', 'accuweather.com')

In [48]:
for k, v in data.items():
    print(k,':',v)

temp : 20
humidity : 100
weather : thunderstrom
wind : 6
location : lucknow
website : accuweather.com

In [49]:
for i in data:
    print(i,data[i])

temp 20
humidity 100
weather thunderstrom
wind 6
location lucknow
website accuweather.com

In [50]:
for key in data:
    print(key ,data[key])

temp 20
humidity 100
weather thunderstrom
wind 6
location lucknow
website accuweather.com

In [51]:
x={
    'apple': 'pie',
    'orange': 'jam',
    'pineapple':'juice',
}

y= {
    'potato': 'fries',
    'tomato': 'ketchup',
    
}

In [52]:
x.update(y)
print(x)
print(y)

{'apple': 'pie', 'orange': 'jam', 'pineapple': 'juice', 'potato': 'fries', 'tomato': 'ketchup'}
{'potato': 'fries', 'tomato': 'ketchup'}

In [54]:
print(x.get('apple'))
print(x.get('apples'))
print(x.get('apples', 'not found'))
print(x.get('apple','not found'))

pie
None
not found
pie

In [57]:
inp = input('enter the item name')
print(x.get(inp,'not found'))

ketchup

In [ ]:
print(x)